.container
  .row
    .col-md-12
      %h1 Editing trailhead

      = render 'form'

      %h3
        Debug
      %pre
        = JSON.pretty_generate JSON.parse(@trailhead.to_json)

      = link_to 'Show', @trailhead
      \|
      = link_to 'Back', trailheads_path
