
.row
  .col-xs-12.headline
    %h3= pluralize(@trailheads.count,'Trailhead')
    - if @user
      %h4
        = @user

- @trailheads.each_slice(3) do |slice|
  .row    
    - slice.each do |trailhead|           
      = render "trailheads/trailhead_box", trailhead: trailhead          
  .row    
    .col-md-12
      %hr 

