
%row.col-xs-12.col-lg-6
  %h1 Trailheads You've Photographed

  %table.table.table-striped
    %tr
      %th Photo
      %th Actions



    - @trailheads.each do |trailhead|
      %tr
        %td= image_tag "trailhead.jpg", class:"img-responsive"
        %td.action-col
          %button.btn-lg.btn-primary.btn-block
            = link_to 'Edit', "#"
          %button.btn-lg.btn-danger.btn-block
            = link_to 'Destroy', "#", :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'Document a new Trailhead', new_trailhead_path
