- content_for :pre_container do
  #trailhead-map.fullpage-map

  :javascript
    var ready = function(){
      var map = L.mapbox.map('trailhead-map', 'jerememonteau.holfp9ah',{detectRetina: true});        
      map.addControl(L.mapbox.geocoderControl('jerememonteau.holfp9ah'));
      // As with any other AJAX request, this technique is subject to the Same Origin Policy:
      // http://en.wikipedia.org/wiki/Same_origin_policy
      // So the CSV file must be on the same domain as the Javascript, or the server
      // delivering it should support CORS.
      var markers = new L.MarkerClusterGroup({      
        showCoverageOnHover: false,      
        maxClusterRadius:20,
        spiderfyOnMaxZoom:true,
        animateAddingMarkers:true,
        spiderfyDistanceMultiplier:4
              
      });

      $.getJSON('/trailheads.json', function(data){
          var featureLayer = L.geoJson(data, {
            onEachFeature: function(feature,layer){
              var content = '<div><h3><a href="/trailheads/' + feature.properties.id + '">' + feature.properties.name + '</h3><img style="width:300px" src="' + feature.properties.photos['small'] + '"/></a></div>';
              var iconContent = '<div><img src="' + feature.properties.photos['square'] + '"/></div><div class="marker-pointer"></div>';
              layer.bindPopup(content,{
                minWidth:200,
                minHeight:200,
                autoPan:true,
                autoPanPadding:[80,80]});
              var myIcon = L.divIcon(
                {
                  iconSize:null, 
                  html: iconContent, 
                  className: 'trailhead-marker-icon',
                  iconAnchor: [20,25]
                });
              layer.setIcon(myIcon);
            }
          });        
          map.fitBounds(featureLayer.getBounds());
          markers.addLayer(featureLayer);
          map.addLayer(markers);
        });
    };
    $(document).ready(ready);
    $(document).on('page:load', ready);

