- content_for :pre_container do
  :erb
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js'></script>

  #trailhead-map.fullpage-map

  :javascript
    var ready = function(){
      L.mapbox.accessToken = 'pk.eyJ1IjoidHJhaWxoZWFkbGFicyIsImEiOiJRNEU4VWFNIn0.IT_1YvYqery8yDIQZFDQqw';
      var map = L.mapbox.map('trailhead-map', 'trailheadlabs.63dd9d04',{detectRetina: true});
      map.scrollWheelZoom.disable();
      map.addControl(L.mapbox.geocoderControl('trailheadlabs.63dd9d04'));
      // As with any other AJAX request, this technique is subject to the Same Origin Policy:
      // http://en.wikipedia.org/wiki/Same_origin_policy
      // So the CSV file must be on the same domain as the Javascript, or the server
      // delivering it should support CORS.
      var markers = new L.MarkerClusterGroup({
        showCoverageOnHover: false,
        maxClusterRadius:20,
        spiderfyOnMaxZoom:true,
        animateAddingMarkers:true,
        spiderfyDistanceMultiplier:4
      });

      $.getJSON('/trailheads.json', function(data){
          var featureLayer = L.geoJson(data, {
            onEachFeature: function(feature,layer){
              var content = '<div><h3><a href="/trailheads/' + feature.properties.id + '">' + feature.properties.name + '</h3><img style="width:300px" src="' + feature.properties.photos['small'] + '"/></a></div>';
              var iconContent = '<div><img src="' + feature.properties.photos['square'] + '"/></div><div class="marker-pointer"></div>';
              layer.bindPopup(content,{
                minWidth:200,
                minHeight:200,
                autoPan:true,
                autoPanPadding:[80,80]});
              var myIcon = L.divIcon(
                {
                  iconSize:null,
                  html: iconContent,
                  className: 'trailhead-marker-icon',
                  iconAnchor: [20,50]
                });
              layer.setIcon(myIcon);
            }
          });
          map.fitBounds(featureLayer.getBounds());
          var hash = L.hash(map);
          markers.addLayer(featureLayer);
          map.addLayer(markers);
        });
    };
    $(document).ready(ready);
    $(document).on('page:load', ready);

