!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to trailheadit,
    %p
      You have successfully signed up to trailheadit,
      %br/
    %p
      = link_to "Click here to see your contributions.", url_for @user
      
    %p Thanks for contributing!