!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to trailheadit, #{@user.name}
    %p
      You have successfully signed up to trailheadit,
      %br/
    %p
      To view your contributions, just follow this link: #{@url}.
    %p Thanks for contributing!