!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Nice work!
    %p
      Nice work, we got your Trailhead, it looks great!
      Here is your own personal page with all of your Trailheads:
    %p
      = link_to "Click here to see your contributions.", "http://traileditor.org/users/#{@user.id}"
    %p
      Water, restroom? Take a look, share with your friends and help out your local park agency by adding some more info to your trailheads. 
    %p
      Thanks for using Trail Editor!
      