!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Nice work!
    - if @trailheads.any?
      %p
        We received #{pluralize(@trailheads.count,'Trailhead')}! They look good... but we couldn't get the GPS info. Please click below to manually update the gps information.
    %hr    
    %h2
      = link_to "Click here to see your Trailheads", "http://traileditor.org/users/#{@user.id}"
    %hr
    %p
      Is there drinking water, restrooms, parking? Take a look, share with your friends and help out your local park agency by adding some more info to your trailheads. 
    %p
      Thanks for using Trail Editor!
      