.row
  .col-md12
    %h3 Users

    %table.table.table-striped
      %tr
        %th Email
        %th    
        

      - @users.each do |user|
        %tr
          %td= link_to user.email, user
          %td.text-right
            = link_to 'Edit', edit_user_path(user), class: 'btn-edit'
            = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn-delete'

    %br

    = link_to 'New User', new_user_path, class: 'btn-new'
