.row
  .col-sm-6.col-sm-offset-3
    .trailhead-box
      %h2
        What is a bootleg trail?
      %p
        To most people, a trail is a trail. Sure, some are steep and some are flat, but if you are physicxally able to walk on it, then you walk on it. Or ride on it. That’s all there is to it, right?
      %p
        %em
          Not quite.
      %p
        Some trails are maintained by the people who own and manage the land. And some aren’t. The ones that aren’t are bootleg trails (also called social trails and even desire paths).

      %h3
        Why should I care?
      %p
        Bootleg trails are somethings dangerous, and other times they cut across sensitive habitats or contribute to erosion on steep hillsides.
      %p
        Stick to the official trails and you’ll be safer, trail stewards will rest easier, and wildlife will be happier too
      %h3
        So remember, social networks are good. Social trails, not so much.
