- content_for :pre_container do
  .banner
    .container
      .welcome
        %h1.text-center
          Welcome to TrailEditor
        %h3.text-center
          The easiest way to create trailheads!

%br

.row
  .col-sm-12
    .landing.text-center
      %h2
        Help Locate Trailheads

%br

.row
  .col-md-4    
    .white-box
      %h3
        Step 1
      %hr
      %h1
        Take a photo of a trailhead
      %h4     
        Use your smartphone or other GPS enabled device
  .col-md-4
    .white-box
      %h3
        Step 2
      %hr
      %h1
        Email it to new@traileditor.org
      %h4
        We'll convert the photo to a trailhead
  .col-md-4
    .white-box
      %h3
        Step 3
      %hr
      %h1
        Find it here and add details
      %h4
        So that others can find the trailhead too

%hr
.row
  .col-sm-12
    .landing.text-center
      %h2
        Latest Trailheads

%br
  
- Trailhead.latest.limit(3).each_slice(3) do |slice|
  .row    
    - slice.each do |trailhead|           
      = render "trailheads/trailhead_box", trailhead: trailhead          

.row
  .col-sm-12
    .landing.text-center
      %h2
      = link_to "More Trailheads", trailheads_path, class: "btn btn-lg btn-primary"

