/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

* {
	font-family: 'Open Sans Condensed', sans-serif;
}

.form-inputs.block{
	select, input[type=text], input[type=number], input[type=text]{
		@extend .form-control;
		@extend .input-block-level;
	}
}
.attribute {
	input[type='checkbox'] {
		margin-right:10px;
		height: 21px;
	}
	label{
		font-size:20px;		
	}
	label:hover{
		color: #555;
		cursor: pointer;
	}
	label.checkbox{
		border: solid 1px #ccc;
		background: white;
		padding: 10px;
		border-radius: 10px;
		background: #eee;
	}
}

body {
	height: 100%;	
}

body > .container{
	padding-top:60px;
}

.btn-edit {	
	@extend .btn;
	@extend .btn-primary;
}

.btn-delete {	
	@extend .btn;
	@extend .btn-danger;
}

.btn-new{
	@extend .btn;
	@extend .btn-primary;
}

/* P R I M A R I L Y   H O M E. I N D E X */

.banner {
	width: 100%;
	min-height: 350px;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
	background-image: url(image_path("trailhead_banner.jpg"));
}

/* P R I M A R I L Y   T R A I L H E A D S . I N D E X */

/* padding on top to allow for header*/
.container {
	padding-top: 30px;
	background-color: white;
}

.container-fix {
	padding-left: 30px;
	padding-right: 30px;
}

.headline {
	min-height: 100px;
}

.dashboard {

}
.actions {
	width: 100%;
}
.actions .btn {
	width: 33%;
	background-color: #f6f6f6;
	color: #333333;
	border-color: #dddddd;
}

.actions .btn:hover {
	background-color: #dddddd;
}

.actions .btn a {
	color: #333333;
}

.actions .btn a:hover {
	color: #333333;
	text-decoration: none;
	background-color: inherit;
}

/* left padding over-ride to align with table */
.navbar-brand {
	padding-left: 30px;
	font-size: 1.5em;
}

.column-header {
	padding: 0;
	text-align: center
}

.photo-box {	
	text-align:center;
	padding: 0;
	img{
		max-height:280px;
	}
	margin:10px;
}

.trailhead-map{
	padding:4px;
	background-color:white;
	border: 1px solid #ddd;
	width:100%;
	height:280px;
	margin:10px;
}

.header-button{
	margin-bottom:10px;
}

.details-box {
	margin: 15px 0;
}

/* Additional height limit added to img-responsive bootstrap class */
// .img-responsive {
// 	max-height: 250px;
// }

/* Table  Borders and Buttons */
.table > tbody > tr {
	border: 1px solid gray;
}

.table > tbody > tr > th {
	border: 1px solid gray;
}

.action-col {
	width: 20%;
}

/*.table-btn {
	width: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
}*/

button a {
	color: white;
}

button a:hover {
	text-decoration: none;
	background-color: inherit;
}

/* P R I M A R I L Y   T R A I L H E A D S / N E W  */

.checkbox input[type="checkbox"] {
	margin-left: 0;
}

.back-btn {
	margin-top: 30px;
}