/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	height: 100%;
}

/* P R I M A R I L Y   H O M E. I N D E X */

.banner {
	width: 100%;
	min-height: 350px;
	background-repeat:no-repeat;
	background-size: 100%;
	background-position:center;
	background-image: url(image_path("trailhead_banner.jpg"));
}

/* P R I M A R I L Y   T R A I L H E A D S . I N D E X */

/* left padding over-ride to align with table */
.navbar-brand {
	padding-left: 30px;
	font-size: 2em;
	margin-top: .5em;
	margin-bottom: .5em;
}

/* Additional height limit added to img-responsive bootstrap class */
.img-responsive {
	max-height: 250px;
}

/* Table  Borders and Buttons */
.table > tbody > tr {
	border: 1px solid gray;
}

.table > tbody > tr > th {
	border: 1px solid gray;
}

.action-col {
	width: 20%;
}

/*.table-btn {
	width: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
}*/

button a {
	color: white;
}

button a:hover {
	text-decoration: none;
	background-color: inherit;
}

/* P R I M A R I L Y   T R A I L H E A D S / N E W  */

.checkbox input[type="checkbox"] {
	margin-left: 0;
}

.back-btn {
	margin-top: 30px;
}